.product__add-cart {
    padding: 6px 12px;
    background-color: #ffd900;
    border-radius: 23px 23px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial,
        Helvetica,
        sans-serif;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.product__add-cart:hover {
    background-color: rgb(253, 172, 9);
}