.sort__link-up {

    position: absolute;
    top: 8px;
    left: -23px;
    transform: translateX(22%);
    width: 20px;
    height: 20px;

}



.sort-arrow__up {
    position: relative;
    cursor: pointer;
}



.sort-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Segoe UI';
    color: #494641;
    width: 250px;
}

.sort-block {
    display: flex;
    gap: 8px;
}

.sort-wrapper {
    width: 165px;
    height: 110px;
    position: absolute;
    top: 95px;
    z-index: 100;
    background-color: #fbfbfb;
    border-radius: 7px;
    padding: 15px 10px;
}

.sort-list {
    margin-bottom: 7px;
    cursor: pointer;
}

.sort-list:hover {
    color: rgb(241, 108, 12);
}

.sort-list__active {
    color: rgb(241, 108, 12);
    cursor: pointer;

}